.heat1 {
  background-color: #000;
  color: #fff;
}

.heat2 {
  background-color: #383838;
  color: #fff;
}

.heat3 {
  background-color: #707070;
  color: #fff;
}

.heat4 {
  background-color: #a9a9a9;
}

.heat5 {
  background-color: #d3d3d3;
}

.heat6 {
  background-color: #fff;
  color: #000;
}
